<div class="full-width">
  <button mat-raised-button color="accent" class="new-post" routerLink="new-post">NEW POST</button>
</div>
<mat-card *ngFor="let post of (posts$ | async)">
  <mat-card-title>
    {{ post.title }}
    <span style="float:right;font-size:0.6em">{{ post.createdAt | date: "MMMM dd, yyyy, HH:mm" }}</span>
  </mat-card-title>
  <mat-card-content>{{ post.content }}</mat-card-content>
  <mat-card-actions *ngIf="(isAuth$ | async) && currentUser === post.userId">
    <button color="primary" mat-flat-button (click)="onModify(post._id)">MODIFY</button>
    <button color="warn" mat-flat-button>DELETE</button>
  </mat-card-actions>
</mat-card>
