<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z2">
    <button mat-button routerLink="">Maarch Reactive Training</button>
    <div id="header-links">
      <button mat-button routerLink="posts" routerLinkActive="active">POSTS</button>
      <button mat-button routerLink="messages" routerLinkActive="active" *ngIf="isAuth$ | async">MESSAGES</button>
      <button mat-button routerLink="auth/login" routerLinkActive="active" *ngIf="!(isAuth$ | async)">LOGIN</button>
      <button mat-button routerLink="auth/signup" routerLinkActive="active" *ngIf="!(isAuth$ | async)">SIGN UP</button>
      <button mat-button (click)="onLogout()" *ngIf="isAuth$ | async">LOGOUT</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
